In [1]:
import pandas as pd

df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()
min_sal_idx = clean_df["Starting Median Salary"].idxmin()
clean_df["Undergraduate Major"].loc[min_sal_idx]
clean_df["Starting Median Salary"].min()

34000.0

In [2]:
idx_ = clean_df['Mid-Career Median Salary'].idxmin()
clean_df["Undergraduate Major"].loc[idx_]

'Education'

In [3]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', spread_col)
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [4]:
th90 = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
th90[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [5]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
#clean_df.insert(1, 'Spread', spread_col)
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [49]:
pd.options.display.float_format = lambda x: '{:_.2f}'.format(x).replace('.', ',').replace('_', '.')
group_col = clean_df['Group']
no_string_data = clean_df.select_dtypes(include="number")
no_string_data.insert(1, 'Group', group_col)
no_string_data.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103.958,33","44.633,33","75.083,33","43.566,67","147.525,00"
HASS,"95.218,18","37.186,36","62.968,18","34.145,45","129.363,64"
STEM,"101.600,00","53.862,50","90.812,50","56.025,00","157.625,00"